<style type="text/css">
.sticky {
  width: 100%;
  z-index: 9999;
}
</style>

<div class="top-bar-container" data-sticky-container>
  <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">

    <div class="title-bar" data-responsive-toggle="topbar-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">メニュー</div>
      <div class="marquee">
        <p><%= admin_setting.header_text %></p>
      </div>
    </div>

    <div class="top-bar" id="topbar-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="/" style="padding: 0.2rem 1rem;">
              <%= image_tag 'logo.png', class: 'brand' %>
            </a>
          </li>      
        </ul>
      </div>

      <% unless admin_signed_in? %>
      
        <div class="marquee hide-for-small-only">
          <p><%= admin_setting.header_text %></p>
        </div>
      
      <% end %>

      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal show-for-medium" data-dropdown-menu>        
          <%= render partial: 'layouts/nav_contents' %>
        </ul>

        <ul class="menu vertical medium-horizontal show-for-small-only" data-accordion-menu>
          <%= render partial: 'layouts/nav_contents' %>
        </ul>
      </div>
    </div>

  </div>
</div>