<% if admin_signed_in? %>
  <li class="menu-text"><%= link_to '<i class="fi-magnifying-glass"></i> 生徒サーチ'.html_safe, admin_search_path %></li>

  <li class="menu-text"><%= link_to '<i class="fi-torsos-all"></i> 日別出席人数'.html_safe, admin_attendance_records_path %></li>

  <li class="menu-text"><%= link_to '<i class="fi-check"></i> 欠席サーチ'.html_safe, admin_dashboard_index_path %></li>

  <li class="menu-text"><%= link_to '<i class="fi-list"></i> 生徒一覧'.html_safe, admin_students_path %></li>

  <li class="menu-text"><%= link_to '<i class="fi-torso"></i> 生徒登録'.html_safe, new_admin_student_path %></li>

  <li class="menu-text">
    <a href="#"><i class="fi-widget"></i> 設定</a>
    <ul class="vertical menu">
      <li><%= link_to '<i class="fi-torso"></i> アカウント設定'.html_safe, edit_admin_registration_path %></li>

      <li><%= link_to '<i class="fi-pencil"></i> 設定変更'.html_safe, admin_setting_path %></li>
    </ul>
  </li>

  <li class="menu-text"><%= link_to '<i class="fi-unlock"></i> ログアウト'.html_safe, destroy_admin_session_path, method: :delete %></li>
<% else %>
  <li class="menu-text"><%= link_to '<i class="fi-home"></i> ホーム'.html_safe, root_path %></li>

  <li class="menu-text"><%= link_to '<i class="fi-magnifying-glass"></i> 検索する'.html_safe, search_path %></li>
<% end %>